html
	block head
		styles
			link(rel="stylesheet" type="text/css" href="/navAccueil.css")
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
	body
		div(id='navAccueil')
			ul
				li(id='signin')
					a(href='signin')
						div.absolute
							p SIGNIN IN
				li(id='signup')
					a(href='signup')
						div.absolute
							p SIGNUP