include includes/headGame.pug
link(rel="stylesheet" type="text/css" href="/containerGame.css")
div(id='containerGame')
    h1 Profil
    p='Id: '+tab.id
    p='Username: '+tab.username
    p='Email: '+tab.email
script.
    $('#compte').css('background', '#363636')